[client-server]

[mysqld]
symbolic-links=0

# Include all files from the default config directory
!includedir /etc/my.cnf.d

# Include your custom configuration directory
!includedir /etc/mysql/mariadb.conf.d
